# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
exclude: "CHANGELOG.md"
default_stages: [ pre-commit ]

repos:
    -   repo: https://github.com/pre-commit/pre-commit-hooks
        rev: v6.0.0
        hooks:
            -   id: debug-statements
            -   id: check-builtin-literals
            -   id: check-case-conflict
            -   id: check-docstring-first
            -   id: check-json
                exclude: ^.vscode/
            -   id: check-toml
            -   id: detect-private-key
            -   id: end-of-file-fixer
            -   id: trailing-whitespace
    -   repo: https://github.com/astral-sh/uv-pre-commit
        # uv version.
        rev: 0.9.8
        hooks:
        - id: uv-lock
    -   repo: https://github.com/codespell-project/codespell
        rev: v2.4.1
        hooks:
            -   id: codespell
                exclude: uv.lock
    -   repo: https://github.com/astral-sh/ruff-pre-commit
        # Ruff version
        rev: v0.14.4
        hooks:
            # Run the linter
            - id: ruff-check
              args: [ --fix ]
            #  Run the formatter
            - id: ruff-format
    # -   repo: https://github.com/PyCQA/isort  # Replacing isort with ruff
    #     rev: 7.0.0
    #     hooks:
    #         -   id: isort
    # -   repo: https://github.com/psf/black  # Replacing black with ruff
    #     rev: 25.9.0
    #     hooks:
    #         -   id: black
    # -   repo: local  # Replacing pylint with ruff
    #     hooks:
    #         -   id: pylint
    #             name: pylint
    #             entry: uv run pylint
    #             language: system
    #             types: [python]
    #             require_serial: true
    -   repo: https://github.com/pre-commit/mirrors-mypy
        rev: v1.18.2
        hooks:
            -   id: mypy
                exclude: cli.py
                additional_dependencies: [ "pydantic>=2.0.0", "pydantic-xml>=2.18.0", "pytest>=8.0.0" ]
                args: [ "--config-file=./pyproject.toml", "--follow-imports=silent", "--strict", "--ignore-missing-imports", "--disallow-subclassing-any", "--no-warn-return-any" ]
